<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Fuck yeah we got a booking</h1>
    <p>Someone just booked with the details</p>
    <ul>
      <li>Customer name: <%= @booking.customer_name %></li>
      <li>Customer phone: <%= @booking.customer_name %></li>
      <li>Room ID: <%= @booking.room_id %></li>
    </ul>
  </body>
</html>